
<html ng-app="angularIntroApp">

<head>
    <title>$http get example</title>
    <style>
        .member {
            padding: 10px;
        }
    </style>
</head>

<body ng-controller="MainCtrl as mainCtrl">
<h1>List of members</h1>

<!--<button ng-click="mainCtrl.fetchMembers()">Load members</button>-->

<div ng-repeat="member in mainCtrl.members" class="member">
    <div>ID: <span ng-bind="member.id"></span></div>
    <div>Name: <span ng-bind="member.name"></span></div>
    <div>Lastname: <span ng-bind="member.lastname"></span></div>
    <div>Age: <span ng-bind="member.age"></span></div>
    <div>Status: <span ng-bind="member.status"></span></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>
<script src="app.js"></script>
</body>
</html>